.app-toast {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 250;
}
.app-toast__main {
  display: inline-block;
  max-width: 22em;
  padding: 0.85em 1.2em;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: inherit;
  line-height: 1.9em;
  border-radius: 0.6em;
  word-break: break-all;
  box-sizing: border-box;
}
.app-toast__content {
  font-size: 1.3em;
}
.app-toast--bottom {
  bottom: 2.5em;
}
.app-toast--middle {
  top: 50%;
  transform: translateY(-50%);
}
.app-toast--top {
  top: 2.5em;
}
