.animation-loading {
  font-size: 1em !important;
}
.app-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.app-loading__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 0;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
}
.app-loading__icon {
  display: inline-block;
  width: 2.6em;
  height: 2.6em;
  background-image: '';
  background-size: 100% 100%;
}
.app-loading__loading,
.app-loading__icon {
  margin-bottom: 1em;
}
.app-loading__content {
  font-size: 1.4em;
  color: #fff;
}
.app-toast {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 250;
}
.app-toast__main {
  display: inline-block;
  max-width: 28em;
  padding: 0.95em 1.7em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: inherit;
  line-height: 2.1em;
  border-radius: 2em;
  word-break: break-all;
  box-sizing: border-box;
}
.app-toast__content {
  font-size: 1.4em;
}
.app-toast--bottom {
  bottom: 2.5em;
}
.app-toast--middle {
  top: 50%;
  transform: translateY(-50%);
}
.app-toast--top {
  top: 2.5em;
}
.app-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.app-dialog__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.app-dialog__box {
  position: relative;
  width: 28em;
  background-color: #fff;
  border-radius: 1.4em;
  font-size: inherit;
  text-align: center;
}
.app-dialog__hd {
  padding: 1.5em;
  margin-bottom: -0.5em;
  line-height: 2.9em;
  font-size: inherit;
  color: #444444;
}
.app-dialog__title {
  font-size: 2em;
}
.app-dialog__bd {
  padding: 1.5em 2.5em;
  font-size: inherit;
  line-height: 2.4em;
  color: #878c8e;
}
.app-dialog__hd + .app-dialog__bd {
  padding-top: 0;
}
.app-dialog__content {
  font-size: 1.6em;
}
.app-dialog__ft {
  display: flex;
  border-radius: 0 0 1.4em 1.4em;
  font-size: inherit;
  overflow: hidden;
}
.app-dialog__btn {
  flex: 1;
  height: 4.8em;
  line-height: 4.8em;
  border-top: 1px solid #dcdcdc;
  font-size: inherit;
}
.app-dialog__btn:active {
  background-color: #dcdcdc;
}
.app-dialog__btn + .app-dialog__btn {
  border-left: 1px solid #dcdcdc;
}
.app-dialog__btn-text {
  font-size: 1.6em;
}
.app-dialog__btn--primary {
  font-weight: normal;
  color: #ffba2c;
}
.app-dialog__btn--default {
  color: #878c8e;
}
.app-dialog__close {
  position: absolute;
  top: -3.1em;
  right: 0;
  width: 1.8em;
  height: 1.8em;
  font-size: inherit;
  cursor: pointer;
}
.app-dialog__close:before,
.app-dialog__close:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform-origin: center center;
  width: 1.8em;
  height: 0.225em;
  border-radius: 0.117em;
  background-color: #fff;
}
.app-dialog__close:before {
  transform: translateY(-50%) rotate(45deg);
}
.app-dialog__close:after {
  transform: translateY(-50%) rotate(135deg);
}
